@use "../../styles/black_p_button";

$header-height: 4rem;
$_padding: 0.5rem;

:host {
  background: #0009;
  display: block;
  height: calc(#{$header-height} - 2 * #{$_padding});
  z-index: 10;
}

header {
  display: flex;
  justify-content: space-between;
  padding: $_padding;

  h1 {
    align-items: center;
    cursor: default;
    display: flex;
    font-family: Sixtyfour, "Courier New", Courier, monospace;
    font-size: 2.5rem;
    line-height: 1;
    position: relative;

    > div {
      color: white;
      left: 3rem; // img is 2.5rem wide + .5rem gap
      margin-top: 4px; // this vertically centers the text visually with the logo
      position: absolute;
    }

    > img {
      height: 2.5rem;
    }
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
  }
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 30rem;
  overflow-y: scroll;
  width: 20rem;

  .history-item {
    cursor: pointer;
    display: flex;

    > div {
      flex: 1 0 0;
      height: 2rem;
    }
  }
}

::ng-deep .p-overlaypanel {
  margin-left: -15rem;

  &::before {
    margin-left: 5px;
  }

  &::after {
    margin-left: 7px;
  }
}
