// primeng toast styles
:host ::ng-deep .p-toast-message {
  backdrop-filter: unset;
  background: #000;
  color: #FFF;

  & .p-toast-message-content {
    display: flex;
    align-items: center;
  }

  & .p-toast-icon-close {
    color: #FFF;
  }
}
