@if (contrastService.color(); as contrastColor) {
  @if (contrastColor.hex() !== currentColor().hex()) {
    <div class="show-always contrast-text" [style.color]="contrastColor" [pTooltip]="contrastTextTooltipText">
      The brown fox jumps over the lazy dog.
    </div>
  }
}

<!-- Remove color button -->
<div class="metadata" pTooltip="Remove color">
  <p-button class="no-back-p-button" icon="pi" [rounded]="true" [text]="true" (click)="delete()">
    <i class="material-symbols">close</i>
  </p-button>
</div>

<!-- Color picker button -->
<div class="metadata" pTooltip="Select a different color">
  <div>
    <p-button class="no-back-p-button" icon="pi" [rounded]="true" [text]="true" (click)="pcp.onInputClick()">
      <i class="material-symbols">palette</i>
    </p-button>

    <p-colorPicker #pcp [(ngModel)]="changeColor" [baseZIndex]="10" (onHide)="emitColor()"></p-colorPicker>
  </div>
</div>

<!-- Set contrast color button -->
<div class="metadata" [pTooltip]="contrastButtonTooltipText">
  <p-button class="no-back-p-button" icon="pi" [rounded]="true" [text]="true" (click)="toggleAsContrastColor()">
    <i class="material-symbols">contrast</i>
  </p-button>
</div>

<!-- Toggle lock button -->
<div class="metadata" [class.show-always]="locked()" [pTooltip]="lockButtonTooltipText">
  <div>
    <p-button class="no-back-p-button" icon="pi" [rounded]="true" [text]="true" (click)="toggleLock()">
      <i class="material-symbols">{{ locked() ? 'lock' : 'lock_open' }}</i>
    </p-button>

    <p-colorPicker #pcp [(ngModel)]="changeColor" [baseZIndex]="10" (onHide)="emitColor()"></p-colorPicker>
  </div>
</div>

<!-- Contrast against contrast color -->
@if (contrast(); as contrast) {
  <div class="metadata show-always" [pTooltip]="contrastTooltipText()">
    <span class="material-symbols">contrast</span>
    <span>{{ contrast }}</span>
  </div>
}

<!-- Color hex code -->
<div class="metadata big mono show-always">{{ currentColor().hex() }}</div>
