@import "../../vars";

$line-height: 1.4;

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  padding: 3rem;

  > *:not(.show-always) {
    visibility: hidden;
  }

  &.show-actions > * {
    visibility: visible;
  }
}

:host,
.metadata i {
  color: var(--_text_color);
}

.metadata {
  align-items: center;
  border-radius: 0.5rem;
  cursor: default;
  display: flex;
  gap: 0.5rem;
  height: 48px;
  justify-content: center;
  line-height: $line-height;
  max-width: 80%;
  text-align: center;

  &,
  i {
    font-size: 1.5rem;
  }

  &.big {
    font-size: min(3rem, 2vw);
  }

  span {
    line-height: $line-height;
  }
}

@container #{$palette-item-container-name} (max-width: 200px) {
  :host {
    padding-inline: 0;
  }

  .metadata,
  .metadata.big,
  .metadata i {
    font-size: min(1.5rem, 20cqi);
  }
}

:host ::ng-deep {
  .p-colorpicker-preview {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
  }

  .p-colorpicker-overlay-panel {
    left: unset !important;
    right: 52px;
  }
}
